@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700;900&display=swap");

:root {
  --font-color: #505050;
  --primary-color: #0660c7;
  --light-primary: #65a7e6;
  --error-color: rgb(204, 58, 58);
  font-family: "Nunito", sans-serif;
  color: var(--font-color);
  font-weight: 300;
}

h1 {
  color: var(--primary-color);
  font-weight: 900;
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

button {
  --bg-color: var(--primary-color);
  --color: white;
  background-color: var(--bg-color);
  color: var(--color);
  font-weight: 700;
  font-size: 1em;
  border: none;
  outline: 1px solid var(--bg-color);
  outline-offset: -1px;
  transition: 200ms;
  &:focus,
  &:hover {
    cursor: pointer;
    outline-offset: 0.2rem;
    transition: 200ms;
  }
}
.footer {
  margin-top: 10rem;
  width: 100%;
  background-color: var(--light-primary);
  height: 20rem;
}
.head {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("./background3.jpg");
  background-position: center;
  background-size: cover, contain;
  height: 35rem;
  box-shadow: 0 10px 20px var(--font-color);
}

.about {
  justify-content: center;
  width: 100%;
  display: flex;
  font-size: 1.3rem;
  button {
    padding: 1rem;
    margin: auto;
  }
}

.error {
  margin-top: 1rem;
  font-weight: 900;
  color: var(--error-color);
  font-size: 1.5rem;
}

.short-url {
  margin-top: 2rem;
  button {
    --bg-color: var(--light-primary);
    --color: var(--font-color);
  }
  a {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 2rem;
  }
}

.input-group {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 3.5rem;
  font-size: 1.1em;
  input {
    border: 1px solid #a5a5a5;
    padding-left: 1em;
    font-size: 1em;
  }
}

.container {
  width: 650px;
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}
